In [13]:
import pandas as pd
import numpy as np

In [2]:
data = [1,2,3,4]
index = [0,1,2,3]

In [17]:
import pandas as pd
import numpy as np  

df = pd.DataFrame(np.array([[4,6,9],[5,1,3]]))

print(df.shape)

(2, 3)

In [5]:
serie = pd.Series(data = data, index = index, name = 'serie' , copy = True)
serie

0    1
1    2
2    3
3    4
Name: serie, dtype: int64

In [7]:
serie = pd.Series(data = data, index = index, name = 'Serie', copy = True)
serie

0    1
1    2
2    3
3    4
Name: Serie, dtype: int64

In [9]:
data[0] = 'Hi'

In [17]:
data[0] = 'Bye'

In [11]:
serie

0    1
1    2
2    3
3    4
Name: Serie, dtype: int64

In [27]:
serie

0    1
1    2
2    3
3    4
Name: Serie, dtype: int64

In [17]:
#create series 
age_series = pd.Series([19,22.88,32,14,77])
age_series

0    19.00
1    22.88
2    32.00
3    14.00
4    77.00
dtype: float64

In [9]:
age_series_np = pd.Series([30,45,11,67,22])
age_series_np

0    30
1    45
2    11
3    67
4    22
dtype: int64

In [21]:
age_series = pd.Series(np.array([30.99,45,11,67,22]))
age_series

0    30.99
1    45.00
2    11.00
3    67.00
4    22.00
dtype: float64

In [19]:
salary_series_index = pd.Series(
    np.array([20000, 12000,43000, 45000,65000,24000]),
    index = np.arange(0,12,2)
)
salary_series_index

0     20000
2     12000
4     43000
6     45000
8     65000
10    24000
dtype: int32

In [41]:
salary_series = pd.Series(
    np.array([11900, 23000, 10000, 40000,80000]),
    index = np.arange(0,10,2)
)
salary_series

0    11900
2    23000
4    10000
6    40000
8    80000
dtype: int32

In [45]:
#creating series using dictionary
prod_dict = {'Diary': 23000.75, 'Soft Drink' : 45000, 'Fruits and Vegetables' : 67000}
prod_series = pd.Series(prod_dict)
prod_series

Diary                    23000.75
Soft Drink               45000.00
Fruits and Vegetables    67000.00
dtype: float64

In [53]:
# batch1 , batch2, batch3

batches = ['batch1','batch2','batch3']
yield_ = np.random.randint(1,5,3)
yield_

series_batch = pd.Series(yield_,batches)
series_batch['batch3']

3

In [45]:
#series_batch.index = [2,3,4]

In [55]:
series_batch

batch1    4
batch2    1
batch3    3
dtype: int32

In [57]:
series_batch.values

array([4, 1, 3])

In [39]:
series_batch.index

Index(['batch1', 'batch2', 'batch3'], dtype='object')

In [59]:
series_batch['batch3'] = 15

In [61]:
series_batch

batch1     4
batch2     1
batch3    15
dtype: int32

In [63]:
series_batch['batch1'] = 'hi'
series_batch

C:\Users\Raksha Chavan\AppData\Local\Temp\ipykernel_20424\1449356500.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'hi' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  series_batch['batch1'] = 'hi'

batch1    hi
batch2     1
batch3    15
dtype: object

In [65]:
series_batch['batch1'] = series_batch['batch1'].upper()
series_batch

batch1    HI
batch2     1
batch3    15
dtype: object

In [69]:
#creating simple array
emp_array = np.array(['A101', 'A102', 'A103', 'B101', 'B102', 'B103', 'C101', 'C102', 'C104'])
emp_id_series = pd.Series(emp_array)
print(emp_id_series[0:4])

0    A101
1    A102
2    A103
3    B101
dtype: object

In [87]:
emp_array = np.array(['A101', 'A102', 'A103', 'B101', 'B102', 'B103', 'C101', 'C102', 'C104'])
emp_id_series = pd.Series(emp_array)
print(emp_id_series[-5:])

4    B102
5    B103
6    C101
7    C102
8    C104
dtype: object

In [89]:
#create a dictionary
classes_dict = { "X" : ["Maths", "Science", "English"],
                "Y" : ["Maths", "Science"],
                "Z" : "science" }

classes_series = pd.Series(classes_dict)
print(classes_series)

print("\n", classes_series['X'])

X    [Maths, Science, English]
Y             [Maths, Science]
Z                      science
dtype: object

 ['Maths', 'Science', 'English']

In [95]:
classes_dict = { "X" : ["Maths", "Science", "English"],
                "Y" : ["Maths", "Science"],
                "Z" : "science" }

classes_series = pd.Series(classes_dict)
#print(classes_series)

print("\n", classes_series[['X','Y']])

 X    [Maths, Science, English]
Y             [Maths, Science]
dtype: object

In [103]:
# Filter the values
student_series = pd.Series(np.array([450,129,313,414,215,116]),
    index = ['Sophia', 'Emma', 'Mia', 'William', 'Lily', 'Grace'])
student_series[student_series > 300]

Sophia     450
Mia        313
William    414
dtype: int32

In [43]:
#creating simple array
sales_array = np.array([1200, 3546, 2256])
sales_series = pd.Series(sales_array)
sales_series * 2

0    2400
1    7092
2    4512
dtype: int32

In [109]:
# create 2 series
MRP_series = pd.Series([12,22,17])
sales_series = pd.Series([23,43,53])

#multiply both the series
Total_amount_series = MRP_series.multiply(sales_series)
print(Total_amount_series)

0    276
1    946
2    901
dtype: int64

In [71]:
MRP_series = pd.Series([12,22,17])
sales_series = pd.Series([23,43,53])

#multiply both the series
Total_amount_series = MRP_series * sales_series
print(Total_amount_series)

0    276
1    946
2    901
dtype: int64

In [111]:
# Addition of 2 series
english_array = np.array([67,88,78])
english_series = pd.Series(english_array)

Maths_array = np.array([88,91,71])
Maths_series = pd.Series(Maths_array)

total_marks = english_series + Maths_series
total_marks

0    155
1    179
2    149
dtype: int32

In [113]:
english_array = np.array([67,88,78])
english_series = pd.Series(english_array)

Maths_array = np.array([88,91])
Maths_series = pd.Series(Maths_array)

total_marks = english_series + Maths_series
total_marks

0    155.0
1    179.0
2      NaN
dtype: float64

**Ranking & Sorting**