In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
df = sns.load_dataset('penguins')

In [15]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [17]:
# which party won election last year?
# at which location the party got maximum votes?
# at which location the party got minimum votes?
# the location where the winning party got less votes, which party has majority votes there?
# number of candidates who got re elected again? frequency of getting re elected
# age group of people who voted maximumly

In [19]:
# species: categorical(discrete)
# island: categorical (discrete)
# bill_length_mm: numerical 
# flipper_length_mm: numerical
# body_mass_g: numrical
# sex: categorical

In [25]:
rain_mm = [21.2, 21, 98, 25, 22.8, 20.8, 24.7, 24.33, 22]
print('Mean: ', np.mean(rain_mm))

Mean:  31.09222222222222

In [27]:
print('Median: ', np.median(rain_mm))

Median:  22.8

In [29]:
# consider series of daily salary of 15 workers
daily_sal = pd.Series([212, 121, 398, 245, 228, 208, 212, 293, 275, 190, 514, 275, 312])

print('Mode: ', daily_sal.mode())

Mode:  0    212
1    275
dtype: int64

In [31]:
#quartile
print('Q1: ', daily_sal.quantile(0.25))
print('Q2: ', daily_sal.quantile(0.50))
print('Q3: ', daily_sal.quantile(0.75))

Q1:  212.0
Q2:  245.0
Q3:  293.0

In [33]:
# decile
print('D1: ', daily_sal.quantile(0.10))
print('D5: ', daily_sal.quantile(0.50))
print('D9: ', daily_sal.quantile(0.90))

D1:  193.6
D5:  245.0
D9:  380.80000000000007

In [35]:
#percentile
print('P10: ', daily_sal.quantile(0.10))
print('P50: ', daily_sal.quantile(0.50))
print('P99: ', daily_sal.quantile(0.99))

P10:  193.6
P50:  245.0
P99:  500.07999999999987